.nav-link {
  font-family: Helvetica, sans-serif;
}
body {
  font-family: 'Times New Roman', serif;
  padding-bottom: 100px;
  /* This image is from pexels.com, which allows free use of all its pictures */
  background-image: url("pexels-life-of-pix-8892.jpg");
}
.h1 {
  color:rgb(29, 185, 172);
}
p, label, button {
  font-family: Helvetica, sans-serif;
}
.btn {
  background-color: rgb(29, 185, 172);
}
footer {
  background-color: darkgrey;
  border-top: 5px solid rgb(29, 185, 172);
  position: fixed;
  width: 100%;
  bottom: 0px;
}
@media screen and (min-width: 768px) {
  .container-xs {
    width: 66.66%;
  }
  .contact-label {
    width: 75%;
  }
}