/* This CSS is for all pages */

/* Navbar right side */
.nav-link {
  font-family: Helvetica, sans-serif;
}
body {
  font-family: 'Times New Roman', serif;
  padding-bottom: 100px;
  /* This image is from pexels.com, which allows free use of all its pictures */
  background-image: url("images/pexels-life-of-pix-8892.jpg");
}

/* Header text color */
.h1 {
  color:rgb(29, 185, 172);
}

/* Font */
p, label, button {
  font-family: Helvetica, sans-serif;
}

/* Footer */
footer {
  background-color: darkgrey;
  border-top: 5px solid rgb(29, 185, 172);
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/* Media Query for 768px and up */
@media screen and (min-width: 768px) {
  .container-xs {
    width: 66.66%;
  }
  .contact-label {
    width: 75%;
  }
}

/* only for Contact page, button color */
.btn {
  background-color: rgb(29, 185, 172);
}
